In [64]:
# rank the obtained results using the *.log files
import os
import pandas as pd

In [65]:
targetdir = '../data/processed/'
filelist = sorted(os.listdir(targetdir))

In [66]:
filelist

['1.data', '2.data', '3.data', '4.data', '5.data', '6.data', '7.data']

In [67]:
df = pd.DataFrame()

In [68]:
for file in filelist:
    filename = targetdir+file
    col_name = [file]
    temp_df = pd.read_csv(filename,names=col_name)    
    df = pd.concat([df, temp_df], axis=1)
    #print(temp_df)    
    #print(col_name)
    #print(file)
    #print(filename)

In [69]:
df

     1.data  2.data  3.data  4.data  5.data  6.data  7.data
0      1.00    1.00    1.00    1.00    0.73    1.00    1.00
1      1.06    1.16    0.00    0.00    0.73    0.00    0.00
2      1.12    1.22    0.00    0.00    0.73    0.00    0.00
3      0.99    0.83    0.91    0.83    0.63    0.91    1.00
4      0.99    0.83    0.91    0.83    0.63    0.00    0.00
..      ...     ...     ...     ...     ...     ...     ...
724    1.06    0.87    0.00    0.00    0.65    0.88    1.01
725    1.11    0.87    0.00    0.00    0.65    0.00    0.00
726    1.00    0.74    1.00    1.00    0.54    0.50    1.00
727    1.00    0.74    1.00    1.00    0.54    0.50    1.00
728    1.00    0.74    1.00    1.00    0.54    0.50    1.00

[729 rows x 7 columns]