In [25]:
# rank the obtained results using the *.log files
import os
import pandas as pd

In [26]:
targetdir = '../data/processed/'
filelist = sorted(os.listdir(targetdir))

In [27]:
filelist

['1.data', '2.data', '3.data', '4.data', '5.data', '6.data', '7.data']

In [28]:
df = pd.DataFrame()

In [29]:
for file in filelist:
    filename = targetdir+file
    col_name = [file]
    temp_df = pd.read_csv(filename,names=col_name)    
    df = pd.concat([df, temp_df], axis=1)

In [30]:
df

     1.data  2.data  3.data  4.data  5.data  6.data  7.data
0      1.00    1.00    1.00    1.00    0.73    1.00    1.00
1      1.06    1.16    0.00    0.00    0.73    0.00    0.00
2      1.12    1.22    0.00    0.00    0.73    0.00    0.00
3      0.99    0.83    0.91    0.83    0.63    0.91    1.00
4      0.99    0.83    0.91    0.83    0.63    0.00    0.00
..      ...     ...     ...     ...     ...     ...     ...
724    1.06    0.87    0.00    0.00    0.65    0.88    1.01
725    1.11    0.87    0.00    0.00    0.65    0.00    0.00
726    1.00    0.74    1.00    1.00    0.54    0.50    1.00
727    1.00    0.74    1.00    1.00    0.54    0.50    1.00
728    1.00    0.74    1.00    1.00    0.54    0.50    1.00

[729 rows x 7 columns]

In [31]:
# Creating ranked dataframe
ranked_df = pd.DataFrame()

In [32]:
# Creating scenario quantity variable
tao = len(df)

In [33]:
for column in df:    
    wwtp = column[0]
    # Calculating Sk sum of factors
    Sk = round(df[column].sum(),3)
    
    # Calculating ek sum of factors of 1 (or above if errors in calculation)
    ek = df[column] >= 1
    ek = ek.sum()
    
    # Calculating R1k ek/tao
    R1k = round(ek/tao,3)
    
    # Calculate R2k
    if tao != ek:
        R2k = (Sk - ek)/(tao - ek)
    elif Rk1 == 1:
        R2k = 0
        
    R2k = round(R2k,3)
    
    # Printing results
    print("WWTP", wwtp,"R1k =",R1k, "| Sk =",Sk, "| R2k =",R2k)    
    
    # Populate ranking dataframe using pd.df.append
    # Using unicode to name columns with super and subscripts
    R1k_col = 'R\u00B9\u2096\u2080'
    R2k_col = 'R\u00B2\u2096\u2080'
    ranked_df = ranked_df.append({ R2k_col:R2k, R1k_col: R1k,'WWTP': wwtp},ignore_index=True)

WWTP 1 R1k = 0.63 | Sk = 749.77 | R2k = 1.077
WWTP 2 R1k = 0.306 | Sk = 645.08 | R2k = 0.834
WWTP 3 R1k = 0.148 | Sk = 368.91 | R2k = 0.42
WWTP 4 R1k = 0.148 | Sk = 355.5 | R2k = 0.399
WWTP 5 R1k = 0.0 | Sk = 466.74 | R2k = 0.64
WWTP 6 R1k = 0.049 | Sk = 291.35 | R2k = 0.368
WWTP 7 R1k = 0.374 | Sk = 388.1 | R2k = 0.252

In [35]:
# Reorder columns to be usable as a results table
ranked_df = ranked_df.reindex(columns=['WWTP',R1k_col, R2k_col])

In [36]:
ranked_df

  WWTP   R¹ₖ₀   R²ₖ₀
0    1  0.630  1.077
1    2  0.306  0.834
2    3  0.148  0.420
3    4  0.148  0.399
4    5  0.000  0.640
5    6  0.049  0.368
6    7  0.374  0.252